.wrapper {
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 0.4rem;
}

.loginBtn {
  width: auto;
  height: 2rem;
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: 200;
  text-transform: uppercase;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 0.3rem;
  cursor: pointer;
}
